$font-stack: fantasy;
$font-size: 0.9em;
$card-background: #eee;
$card-padding: 10px;
$card-margin: 10px;
$card-border-size: 1px;
$card-border-color: #000;
$label-width: 100px;

body {
  font-family: $font-stack;
  font-size: $font-size;
}

.movie {
  display: block;
  background: $card-background;
  padding: $card-padding;
  margin: $card-margin;
  border: solid $card-border-size $card-border-color;
}

.label {
  display: inline;
  font-weight: bold;
  float: left;
  width: $label-width;
}

#sorting {
  float: left;
  margin-left: 10px;
}

#search {
  float: right;
  margin-right: 10px;
}

#search input {
  width: 200px;
  border: solid 1px #000;
  padding: 5px;
}

#main-content {
  padding-top: 5px;
  clear: both;
}
